:root {
	--container-width: 1640px;
	--container-padding: 20px;

	--green-color: #34C759;
	--orange-color: #E6B127;
	--red-color: #F06A4D;
	--firm-color: #9873FF;
	--grey-color: #C8C5D1;
	--text-grey-color: #B0B0B0;
	--black-color: #333333;
	--white-color: #FFFFFF;
	--body-color: #e6e8ec;
}
