.loader {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
  }
  &__ring {
    display: inline-block;
    position: relative;
    width: 36;
    height: 36px;

    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 28.8px;
      height: 28.8px;
      margin: 3.6px;
      border: 3.6px solid var(--firm-color);
      border-radius: 50%;
      animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: var(--firm-color) transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

@keyframes load-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
